/* Fonts */

@font-face {
    font-family: Telma;
    src: url(Assets/Fonts/Telma-Bold.woff2);
}

@font-face {
    font-family: Poppins;
    src: url(Assets/Fonts/Poppins-Bold.woff2);
}

@font-face {
    font-family: Satoshi;
    src: url(Assets/Fonts/Satoshi-Variable.woff2);
}

@font-face {
    font-family: General;
    src: url(Assets/Fonts/GeneralSans-Bold.woff2);
}

/* Color Variables */

:root {
    --primary-color: #FC8019;
    --secondary-color: white;
}

/* Boiler Plate */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100vh;
}

#landing-pg {
    width: 100%;
    height: 100%;
}

/* Page 1 Starts here */

/* Navbar Starts here */

nav {
    width: 100%;
    height: 8%;
    /* Height of navbar */
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
}

#logo {
    font-family: Telma;
    font-size: 50px;
    color: var(--primary-color);
    padding-bottom: 6px;
}

#nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-icon {
    font-weight: lighter;
    width: 35px;
    height: 40px;
    margin-right: 10px;
    padding-top: 2px;
    cursor: pointer;
}


/* Navbar Ends Here */

/* Hero Section Start Here */
#hero {
    /* border: 1px solid rgb(225, 8, 8); */
    width: 100%;
    height: 87%;
    /* Height of bg video */
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-video {
    position: absolute;
    top: 8%;
    left: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    #bg-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    #bg-video {
        width: auto;
        height: 100%;
    }
}


/* Contents inside Hero Section */

#content {
    /* border: 1px solid  blue; */
    height: 50%;
    width: auto;
    /* display:flex;
    align-items: center;
    flex-direction: column;  */
}

#headline {
    /* border: 1px solid  rgb(39, 238, 252); */
    font-family: gilroy;
    font-size: 100px;
    color: #fff;
    text-align: center;
}

#btn-container {
    /* border: 1px solid  rgb(0, 255, 51); */
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#masked {
    /* border: 1px solid red; */
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Text formatting */
    font-family: gilroy;
    font-weight: 500;
    font-size: 34px;
    text-transform: uppercase;
    color: #fff;
}

/* Animation for Button */
@keyframes ani {
    from {
        mask-position: 0 0;
    }

    to {
        mask-position: 100% 0;
    }
}

@keyframes ani2 {
    from {
        mask-position: 100% 0;
    }

    to {
        mask-position: 0 0;
    }
}

/* Designing button */
#btn-container button {
    border: none;
    width: 250px;
    height: 70px;
    background-color: #fff;
    color: #000;
    font-family: gilroy;
    font-weight: 500;
    font-size: 34px;
    text-transform: uppercase;
    mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    mask-size: 7100% 100%;
    animation: ani2 0.7s steps(70) forwards;
}

#btn-container button:hover {
    animation: ani 0.7s steps(70) forwards;
    cursor: pointer;
}

/* Hero Section Ends Here */

/* Bottom Strip Starts Here */
#strip {
    width: 100%;
    height: 5%;
    /* 100 - (87 + 8) */
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    overflow-x: hidden;
    font-size: 2.4em;
}


#strip #marquee {
    font-family: gilroy;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 0 5px;
}


/* Page 1 Ends here */



#page-2 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(137, 125, 125);
}

/* Page 2 ends here  */

/* Page 3 starts here  */

#page-3 {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

/* Featured Dishes */
#page-3 h1 {
    /* border: 1px solid rgb(9, 255, 0); */
    font-family: General;
    font-size: 90px;
    font-style: italic;
    margin: 20px 0 100px 0;
    padding: 0 100px;
    align-content: center;
    height: 15vh;
    color: transparent;
    -webkit-text-stroke: 2px #212121;
    text-transform: upp;
}

.swiper {
    /* border: 1px solid red; */
    width: 100%;
    height: 60vh;
}

/* .swiper-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
} */

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.food-box-type-1 {
    /* border: 1px solid blue; */
    width: 300px;
    height: 450px;
    background-color: #373737;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.food-box-type-1 img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(238, 67, 20, 1) 0%, rgba(238, 93, 20, 1) 32%, rgba(255, 115, 0, 1) 85%);
    height: 50px;
    width: 100%;
    padding: 0 20px;
}

.card-text h3 {
    /* border: 1px solid red; */
    font-family: General;
    font-size: 22px;
    color: #fff;

}

.card-text h4 {
    /* border: 1px solid rgb(9, 209, 36); */
    font-family: gilroy;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}

.card-text:hover h4 {
    cursor: pointer;
    text-decoration: underline;
}


.food-box-type-2 {

    width: 300px;
    height: 380px;
    background-color: #262626;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.food-box-type-2 img {
    width: 300px;
    height: 330px;
    object-fit: cover;
    object-position: center;
}